# Pandas I / 딥러닝 학습방법 이해하기

## pandas I

In [8]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data' #Data URL
# data_url = './housing.data' #Data URL
df_data = pd.read_csv(data_url, sep='\s+', header = None) #csv 타입 데이터 로드, separate는 빈공간

In [3]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df_data.columns = [
    'CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ,'B', 'LSTAT', 'MEDV'] 
# Column Header 이름 지정
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
df_data.values

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        2.4000e+01],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        2.1600e+01],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        3.4700e+01],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        2.3900e+01],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        2.2000e+01],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.1900e+01]])

In [9]:
list_data = [1,2,3,4,5]
example_obj = Series(data = list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
list_data = [1,2,3,4,5]
list_name = ['a', 'b', 'c', 'd', 'e']
example_obj = Series(data = list_data, index = list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
example_obj.values

array([1, 2, 3, 4, 5])

In [14]:
type(example_obj.values)

numpy.ndarray

In [16]:
dict_data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
example_obj = Series(dict_data, dtype = np.float32, name = "example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [17]:
example_obj['a']

1.0

In [18]:
example_obj['a'] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [19]:
example_obj[example_obj > 2]

a    3.2
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [20]:
example_obj * 2

a     6.4
b     4.0
c     6.0
d     8.0
e    10.0
Name: example_data, dtype: float32

In [21]:
np.exp(example_obj)

a     24.532530
b      7.389056
c     20.085537
d     54.598148
e    148.413162
Name: example_data, dtype: float32

In [24]:
"b" in example_obj

True

In [25]:
example_obj.to_dict()

{'a': 3.200000047683716, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [26]:
example_obj.values

array([3.2, 2. , 3. , 4. , 5. ], dtype=float32)

In [27]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [28]:
example_obj.name = "number"
example_obj.index.name = "alphabet"
example_obj

alphabet
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float32

In [29]:
dict_data_1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
indexes = ['a','b','c','d','e','f','g','h']
series_obj_1 = Series(dict_data_1, index = indexes)
series_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64

In [30]:
# Example from - https://chrisalbon.com/python/pandas_map_values_to_values.html
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [31]:
DataFrame(raw_data, columns = ["age","city"])

   age           city
0   42  San Francisco
1   52      Baltimore
2   36          Miami
3   24        Douglas
4   73         Boston

In [32]:
DataFrame(raw_data, columns = ['first_name','last_name','age','city','debt'])

  first_name last_name  age           city debt
0      Jason    Miller   42  San Francisco  NaN
1      Molly  Jacobson   52      Baltimore  NaN
2       Tina       Ali   36          Miami  NaN
3       Jake    Milner   24        Douglas  NaN
4        Amy     Cooze   73         Boston  NaN

In [33]:
df = DataFrame(raw_data, columns = ['first_name','last_name','age','city','debt'])
df.first_name

0    Jason
1    Molly
2     Tina
3     Jake
4      Amy
Name: first_name, dtype: object

In [34]:
df['first_name']

0    Jason
1    Molly
2     Tina
3     Jake
4      Amy
Name: first_name, dtype: object

In [35]:
df.loc[1]

first_name        Molly
last_name      Jacobson
age                  52
city          Baltimore
debt                NaN
Name: 1, dtype: object

In [37]:
df['age'].iloc[1:]

1    52
2    36
3    24
4    73
Name: age, dtype: int64

In [38]:
s = pd.Series(np.nan, index = [49,48,47,46,45,1,2,3,4,5])
s

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [39]:
s.iloc[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [40]:
df.age > 40

0     True
1     True
2    False
3    False
4     True
Name: age, dtype: bool

In [41]:
df.debt = df.age > 40
df

  first_name last_name  age           city   debt
0      Jason    Miller   42  San Francisco   True
1      Molly  Jacobson   52      Baltimore   True
2       Tina       Ali   36          Miami  False
3       Jake    Milner   24        Douglas  False
4        Amy     Cooze   73         Boston   True

In [43]:
values = Series(data = ['M','F','F'], index = [0,1,3])
values

0    M
1    F
3    F
dtype: object

In [45]:
df['sex'] = values
df

  first_name last_name  age           city   debt  sex
0      Jason    Miller   42  San Francisco   True    M
1      Molly  Jacobson   52      Baltimore   True    F
2       Tina       Ali   36          Miami  False  NaN
3       Jake    Milner   24        Douglas  False    F
4        Amy     Cooze   73         Boston   True  NaN

In [46]:
df.T

                        0          1      2        3       4
first_name          Jason      Molly   Tina     Jake     Amy
last_name          Miller   Jacobson    Ali   Milner   Cooze
age                    42         52     36       24      73
city        San Francisco  Baltimore  Miami  Douglas  Boston
debt                 True       True  False    False    True
sex                     M          F    NaN        F     NaN

In [47]:
df.values

array([['Jason', 'Miller', 42, 'San Francisco', True, 'M'],
       ['Molly', 'Jacobson', 52, 'Baltimore', True, 'F'],
       ['Tina', 'Ali', 36, 'Miami', False, nan],
       ['Jake', 'Milner', 24, 'Douglas', False, 'F'],
       ['Amy', 'Cooze', 73, 'Boston', True, nan]], dtype=object)

In [48]:
df.to_csv()

',first_name,last_name,age,city,debt,sex\n0,Jason,Miller,42,San Francisco,True,M\n1,Molly,Jacobson,52,Baltimore,True,F\n2,Tina,Ali,36,Miami,False,\n3,Jake,Milner,24,Douglas,False,F\n4,Amy,Cooze,73,Boston,True,\n'

In [49]:
del df['debt'] # 열삭제

In [50]:
df

  first_name last_name  age           city  sex
0      Jason    Miller   42  San Francisco    M
1      Molly  Jacobson   52      Baltimore    F
2       Tina       Ali   36          Miami  NaN
3       Jake    Milner   24        Douglas    F
4        Amy     Cooze   73         Boston  NaN

In [51]:
pop = {'Nevada' : {2001 : 2.4, 2002: 2.9},
       'Ohio' : {2000: 1.5, 2001: 1.7, 2002: 3.6}}
DataFrame(pop)

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [52]:
df = pd.read_excel("/content/excel-comp-data.xlsx")
df.head()

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

In [54]:
df['account'].head(2)

0    211829
1    320563
Name: account, dtype: int64

In [55]:
df[['account','street','state']].head(3)

   account                                street          state
0   211829                    34456 Sean Highway          Texas
1   320563                     1311 Alvis Tunnel  NorthCarolina
2   648336  62184 Schamberger Underpass Apt. 231           Iowa

In [56]:
df[:10]

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,145068,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,205217,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,209744,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,212303,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000

In [58]:
df['name'][:3]

0    Kerluke, Koepp and Hilpert
1                Walter-Trantow
2    Bashirian, Kunde and Price
Name: name, dtype: object

In [60]:
account_series = df['account']
account_series[:3]

0    211829
1    320563
2    648336
Name: account, dtype: int64

In [61]:
account_series[[1,5,2]]

1    320563
5    132971
2    648336
Name: account, dtype: int64

In [63]:
account_series[account_series < 250000]

0     211829
3     109996
4     121213
5     132971
6     145068
7     205217
8     209744
9     212303
10    214098
11    231907
12    242368
Name: account, dtype: int64

In [64]:
df.index = df['account']
df.head()

,account,name,street,city,state,postal-code,Jan,Feb,Mar
account,,,,,,,,,
211829,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
320563,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
648336,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
109996,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
121213,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

In [65]:
del df['account']
df.head()

,name,street,city,state,postal-code,Jan,Feb,Mar
account,,,,,,,,
211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

In [66]:
df[['name', 'street']][:2]

                               name              street
account
211829   Kerluke, Koepp and Hilpert  34456 Sean Highway
320563               Walter-Trantow   1311 Alvis Tunnel

In [67]:
df.loc[[211829,320563],["name","street"]]

                               name              street
account
211829   Kerluke, Koepp and Hilpert  34456 Sean Highway
320563               Walter-Trantow   1311 Alvis Tunnel

In [68]:
df[["name",'street']].iloc[:10]

,name,street
account,,
211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway
320563,Walter-Trantow,1311 Alvis Tunnel
648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231
109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144
121213,Bauch-Goldner,7274 Marissa Common
132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring
145068,Casper LLC,340 Consuela Bridge Apt. 400
205217,Kovacek-Johnston,91971 Cronin Vista Suite 601
209744,Champlin-Morar,26739 Grant Lock
212303,Gerhold-Maggio,366 Maggio Grove Apt. 998

In [69]:
df.index = list(range(0,15))
df

,name,street,city,state,postal-code,Jan,Feb,Mar
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
10,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
11,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
12,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
13,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
14,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [70]:
df.drop(1)

,name,street,city,state,postal-code,Jan,Feb,Mar
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
10,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
11,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
12,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
13,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
14,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [71]:
df # 1컬럼 삭제 x

,name,street,city,state,postal-code,Jan,Feb,Mar
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
10,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
11,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
12,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
13,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
14,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [72]:
df.drop([0,1,2,3])

,name,street,city,state,postal-code,Jan,Feb,Mar
4,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
10,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
11,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
12,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
13,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
14,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [77]:
matrix = df.values # df.as_matrix()는 사용안함
matrix[:3]

array([['Kerluke, Koepp and Hilpert', '34456 Sean Highway', 'New Jaycob',
        'Texas', 28752, 10000, 62000, 35000],
       ['Walter-Trantow', '1311 Alvis Tunnel', 'Port Khadijah',
        'NorthCarolina', 38365, 95000, 45000, 35000],
       ['Bashirian, Kunde and Price',
        '62184 Schamberger Underpass Apt. 231', 'New Lilianland', 'Iowa',
        76517, 91000, 120000, 35000]], dtype=object)

In [78]:
matrix[:, -3 :]

array([[10000, 62000, 35000],
       [95000, 45000, 35000],
       [91000, 120000, 35000],
       [45000, 120000, 10000],
       [162000, 120000, 35000],
       [150000, 120000, 35000],
       [62000, 120000, 70000],
       [145000, 95000, 35000],
       [70000, 95000, 35000],
       [70000, 120000, 35000],
       [45000, 120000, 55000],
       [150000, 10000, 162000],
       [162000, 120000, 35000],
       [55000, 120000, 35000],
       [150000, 120000, 70000]], dtype=object)

In [79]:
matrix[:,-3:].sum(axis = 1)

array([107000, 175000, 246000, 175000, 317000, 305000, 252000, 275000,
       200000, 225000, 220000, 322000, 317000, 210000, 340000],
      dtype=object)

In [80]:
df.drop("city", axis = 1).head()

,name,street,state,postal-code,Jan,Feb,Mar
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,Texas,28752,10000,62000,35000
1,Walter-Trantow,1311 Alvis Tunnel,NorthCarolina,38365,95000,45000,35000
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,Iowa,76517,91000,120000,35000
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Maine,46021,45000,120000,10000
4,Bauch-Goldner,7274 Marissa Common,California,49681,162000,120000,35000

In [81]:
df

,name,street,city,state,postal-code,Jan,Feb,Mar
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas,62785,150000,120000,35000
6,Casper LLC,340 Consuela Bridge Apt. 400,Lake Gabriellaton,Mississipi,18008,62000,120000,70000
7,Kovacek-Johnston,91971 Cronin Vista Suite 601,Deronville,RhodeIsland,53461,145000,95000,35000
8,Champlin-Morar,26739 Grant Lock,Lake Juliannton,Pennsylvania,64415,70000,95000,35000
9,Gerhold-Maggio,366 Maggio Grove Apt. 998,North Ras,Idaho,46308,70000,120000,35000
10,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,Rosaberg,Tenessee,47743,45000,120000,55000
11,Hahn-Moore,18115 Olivine Throughway,Norbertomouth,NorthDakota,31415,150000,10000,162000
12,"Frami, Anderson and Donnelly",182 Bertie Road,East Davian,Iowa,72686,162000,120000,35000
13,Walsh-Haley,2624 Beatty Parkways,Goodwinmouth,RhodeIsland,31919,55000,120000,35000
14,McDermott PLC,8917 Bergstrom Meadow,Kathryneborough,Delaware,27933,150000,120000,70000

In [82]:
df.drop(['city','state'],axis = 1)

,name,street,postal-code,Jan,Feb,Mar
0,"Kerluke, Koepp and Hilpert",34456 Sean Highway,28752,10000,62000,35000
1,Walter-Trantow,1311 Alvis Tunnel,38365,95000,45000,35000
2,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,76517,91000,120000,35000
3,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,46021,45000,120000,10000
4,Bauch-Goldner,7274 Marissa Common,49681,162000,120000,35000
5,"Williamson, Schumm and Hettinger",89403 Casimer Spring,62785,150000,120000,35000
6,Casper LLC,340 Consuela Bridge Apt. 400,18008,62000,120000,70000
7,Kovacek-Johnston,91971 Cronin Vista Suite 601,53461,145000,95000,35000
8,Champlin-Morar,26739 Grant Lock,64415,70000,95000,35000
9,Gerhold-Maggio,366 Maggio Grove Apt. 998,46308,70000,120000,35000
10,"Goodwin, Homenick and Jerde",649 Cierra Forks Apt. 078,47743,45000,120000,55000
11,Hahn-Moore,18115 Olivine Throughway,31415,150000,10000,162000
12,"Frami, Anderson and Donnelly",182 Bertie Road,72686,162000,120000,35000
13,Walsh-Haley,2624 Beatty Parkways,31919,55000,120000,35000
14,McDermott PLC,8917 Bergstrom Meadow,27933,150000,120000,70000

In [84]:
matrix = df.values # 위에서 드랍했다고 df에 영향이 영구적으로 되는 것은 아님
matrix

array([['Kerluke, Koepp and Hilpert', '34456 Sean Highway', 'New Jaycob',
        'Texas', 28752, 10000, 62000, 35000],
       ['Walter-Trantow', '1311 Alvis Tunnel', 'Port Khadijah',
        'NorthCarolina', 38365, 95000, 45000, 35000],
       ['Bashirian, Kunde and Price',
        '62184 Schamberger Underpass Apt. 231', 'New Lilianland', 'Iowa',
        76517, 91000, 120000, 35000],
       ["D'Amore, Gleichner and Bode", '155 Fadel Crescent Apt. 144',
        'Hyattburgh', 'Maine', 46021, 45000, 120000, 10000],
       ['Bauch-Goldner', '7274 Marissa Common', 'Shanahanchester',
        'California', 49681, 162000, 120000, 35000],
       ['Williamson, Schumm and Hettinger', '89403 Casimer Spring',
        'Jeremieburgh', 'Arkansas', 62785, 150000, 120000, 35000],
       ['Casper LLC', '340 Consuela Bridge Apt. 400',
        'Lake Gabriellaton', 'Mississipi', 18008, 62000, 120000, 70000],
       ['Kovacek-Johnston', '91971 Cronin Vista Suite 601', 'Deronville',
        'RhodeIsland', 53461, 145000, 95000, 35000],
       ['Champlin-Morar', '26739 Grant Lock', 'Lake Juliannton',
        'Pennsylvania', 64415, 70000, 95000, 35000],
       ['Gerhold-Maggio', '366 Maggio Grove Apt. 998', 'North Ras',
        'Idaho', 46308, 70000, 120000, 35000],
       ['Goodwin, Homenick and Jerde', '649 Cierra Forks Apt. 078',
        'Rosaberg', 'Tenessee', 47743, 45000, 120000, 55000],
       ['Hahn-Moore', '18115 Olivine Throughway', 'Norbertomouth',
        'NorthDakota', 31415, 150000, 10000, 162000],
       ['Frami, Anderson and Donnelly', '182 Bertie Road', 'East Davian',
        'Iowa', 72686, 162000, 120000, 35000],
       ['Walsh-Haley', '2624 Beatty Parkways', 'Goodwinmouth',
        'RhodeIsland', 31919, 55000, 120000, 35000],
       ['McDermott PLC', '8917 Bergstrom Meadow', 'Kathryneborough',
        'Delaware', 27933, 150000, 120000, 70000]], dtype=object)

In [85]:
f = lambda x,y : x+y
f(1,4)

5

In [86]:
def f(x,y):
    return x+y

In [88]:
f = lambda x : x ** 2
f(3)

9

In [89]:
f = lambda x : x+5
f(3)

8

In [90]:
(lambda x : x+1)(5)

6

In [91]:
ex = [1,2,3,4,5]
f = lambda x : x ** 2
list(map(f,ex))

[1, 4, 9, 16, 25]

In [92]:
f = lambda x, y : x+y
list(map(f, ex, ex))

[2, 4, 6, 8, 10]

In [93]:
list(map(lambda x : x+5, ex))

[6, 7, 8, 9, 10]

In [95]:
s1 = Series(np.arange(10))
s1.head(5)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [96]:
s1.map(lambda x : x ** 2).head(5)

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [97]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [99]:
z = {1:'A',2:'B',3:'C'}
s1.map(z)

0    NaN
1      A
2      B
3      C
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [100]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [104]:
s2 = Series(np.arange(10,20))
s2

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [105]:
s1.map(s2)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [106]:
!wget https://raw.githubusercontent.com/rstudio/Intro/master/data/wages.csv

--2023-02-17 01:10:54--  https://raw.githubusercontent.com/rstudio/Intro/master/data/wages.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62250 (61K) [text/plain]
Saving to: ‘wages.csv’

wages.csv           100%[===================>]  60.79K  --.-KB/s    in 0.008s

2023-02-17 01:10:55 (7.38 MB/s) - ‘wages.csv’ saved [62250/62250]

In [108]:
df = pd.read_csv('/content/wages.csv')
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [109]:
df.sex.unique()

array(['male', 'female'], dtype=object)

In [110]:
df['sex_code'] = df.sex.map({"male":0, "female":1})
df.head(5)

           earn  height     sex   race  ed  age  sex_code
0  79571.299011   73.89    male  white  16   49         0
1  96396.988643   66.23  female  white  16   62         1
2  48710.666947   63.77  female  white  16   33         1
3  80478.096153   63.22  female  other  16   95         1
4  82089.345498   63.08  female  white  17   43         1

In [111]:
df.sex.replace(
    {"male":0, "female":1}
).head()

0    0
1    1
2    1
3    1
4    1
Name: sex, dtype: int64

In [112]:
df.sex.head(5)

0      male
1    female
2    female
3    female
4    female
Name: sex, dtype: object

In [113]:
df.sex.replace(
    ["male", "female"],
    [0,1], inplace = True
)

In [114]:
df

              earn  height  sex   race  ed  age  sex_code
0     79571.299011   73.89    0  white  16   49         0
1     96396.988643   66.23    1  white  16   62         1
2     48710.666947   63.77    1  white  16   33         1
3     80478.096153   63.22    1  other  16   95         1
4     82089.345498   63.08    1  white  17   43         1
...            ...     ...  ...    ...  ..  ...       ...
1374  30173.380363   71.68    0  white  12   33         0
1375  24853.519514   61.31    1  white  18   86         1
1376  13710.671312   63.64    1  white  12   37         1
1377  95426.014410   71.65    0  white  12   54         0
1378   9575.461857   68.22    0  white  12   31         0

[1379 rows x 7 columns]

In [115]:
del df["sex_code"]
df.head()

           earn  height  sex   race  ed  age
0  79571.299011   73.89    0  white  16   49
1  96396.988643   66.23    1  white  16   62
2  48710.666947   63.77    1  white  16   33
3  80478.096153   63.22    1  other  16   95
4  82089.345498   63.08    1  white  17   43

In [116]:
df_info = df[["earn", "height", "age"]]
df_info.head()

           earn  height  age
0  79571.299011   73.89   49
1  96396.988643   66.23   62
2  48710.666947   63.77   33
3  80478.096153   63.22   95
4  82089.345498   63.08   43

In [117]:
f = lambda x : x.max() - x.min()
df_info.apply(f)

earn      318047.708444
height        19.870000
age           73.000000
dtype: float64

In [118]:
df_info.apply(sum)

earn      4.474344e+07
height    9.183125e+04
age       6.250800e+04
dtype: float64

In [119]:
df_info.sum()

earn      4.474344e+07
height    9.183125e+04
age       6.250800e+04
dtype: float64

In [120]:
def f(x):
    return Series([x.min(), x.max(), x.mean()],
                  index = ["min", "max",'mean'])
    
df_info.apply(f)

               earn    height        age
min      -98.580489  57.34000  22.000000
max   317949.127955  77.21000  95.000000
mean   32446.292622  66.59264  45.328499

In [121]:
f = lambda x : -x
df_info.applymap(f).head(5)

           earn  height  age
0 -79571.299011  -73.89  -49
1 -96396.988643  -66.23  -62
2 -48710.666947  -63.77  -33
3 -80478.096153  -63.22  -95
4 -82089.345498  -63.08  -43

In [124]:
f = lambda x : -x
df_info["earn"].apply(f).head(5)

0   -79571.299011
1   -96396.988643
2   -48710.666947
3   -80478.096153
4   -82089.345498
Name: earn, dtype: float64

* apply -> series / applymap -> DataFrame

## 딥러닝 학습방법 이해하기

In [128]:
def softmax(vec):
    denumerator = np.exp(vec - np.max(vec, axis=-1, keepdims=True))
    numerator = np.sum(denumerator, axis = -1, keepdims = True)
    val = denumerator / numerator
    return val

In [129]:
vec = np.array([[1,2,0],[-1,0,1],[-10,0,10]])
vec

array([[  1,   2,   0],
       [ -1,   0,   1],
       [-10,   0,  10]])

In [130]:
softmax(vec)

array([[2.44728471e-01, 6.65240956e-01, 9.00305732e-02],
       [9.00305732e-02, 2.44728471e-01, 6.65240956e-01],
       [2.06106005e-09, 4.53978686e-05, 9.99954600e-01]])

In [132]:
def one_hot(val, dim):
    return [np.eye(dim)[_] for _ in val]

def one_hot_encoding(vec):
    vec_dim = vec.shape[1]
    vec_argmax = np.argmax(vec, axis = -1)
    return one_hot(vec_argmax, vec_dim)

def softmax(vec):
    denumerator = np.exp(vec - np.max(vec, axis=-1, keepdims=True))
    numerator = np.sum(denumerator, axis = -1, keepdims = True)
    val = denumerator / numerator
    return val

In [133]:
vec = np.array([[1,2,0],[-1,0,1],[-10,0,10]])
print(one_hot_encoding(vec))
print(one_hot_encoding(softmax(vec)))

[array([0., 1., 0.]), array([0., 0., 1.]), array([0., 0., 1.])]
[array([0., 1., 0.]), array([0., 0., 1.]), array([0., 0., 1.])]

* 활성함수
    * 시그모이드
    * tanh
    * ReLU

* 딥러닝 학습원리 : 역전파 알고리즘
    * 각 층에 사용된 패러미터를 학습합니다.
    * 각 층 패러미터의 그레디언트 벡터는 윗층부터 역순으로 계산
    * 역전파 알고리즘은 연쇄법칙 기반 자동미분을 사용합니다.

# Pandas II / 확률론 맛보기

## Pandas II

In [134]:
# data from: 
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [135]:
df.groupby("Team")["Points"].sum()

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [136]:
h_index = df.groupby(["Team", "Year"])["Points"].sum()
h_index

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
kings   2015    812
Name: Points, dtype: int64

In [137]:
h_index.index

MultiIndex([('Devils', 2014),
            ('Devils', 2015),
            ( 'Kings', 2014),
            ( 'Kings', 2016),
            ( 'Kings', 2017),
            ('Riders', 2014),
            ('Riders', 2015),
            ('Riders', 2016),
            ('Riders', 2017),
            ('Royals', 2014),
            ('Royals', 2015),
            ( 'kings', 2015)],
           names=['Team', 'Year'])

In [138]:
h_index["Devils":"Kings"]

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Name: Points, dtype: int64

In [139]:
h_index.unstack()

Year     2014   2015   2016   2017
Team
Devils  863.0  673.0    NaN    NaN
Kings   741.0    NaN  756.0  788.0
Riders  876.0  789.0  694.0  690.0
Royals  701.0  804.0    NaN    NaN
kings     NaN  812.0    NaN    NaN

In [141]:
h_index.swaplevel()

Year  Team
2014  Devils    863
2015  Devils    673
2014  Kings     741
2016  Kings     756
2017  Kings     788
2014  Riders    876
2015  Riders    789
2016  Riders    694
2017  Riders    690
2014  Royals    701
2015  Royals    804
      kings     812
Name: Points, dtype: int64

In [143]:
h_index.swaplevel().sort_index()

Year  Team
2014  Devils    863
      Kings     741
      Riders    876
      Royals    701
2015  Devils    673
      Riders    789
      Royals    804
      kings     812
2016  Kings     756
      Riders    694
2017  Kings     788
      Riders    690
Name: Points, dtype: int64

In [145]:
h_index.sum(level=0)

<ipython-input-145-8458f72a36a6>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  h_index.sum(level=0)

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [146]:
h_index.sum(level=1)

<ipython-input-146-20dc58708a0c>:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  h_index.sum(level=1)

Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64

In [147]:
grouped = df.groupby("Team")
grouped

In [148]:
for name, group in grouped:
    print(type(name))
    print(type(group))

<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>

In [149]:
grouped.get_group("Riders")

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690

In [150]:
grouped.agg(min)

        Rank  Year  Points
Team
Devils     2  2014     673
Kings      1  2014     741
Riders     1  2014     690
Royals     1  2014     701
kings      4  2015     812

In [151]:
grouped.agg(np.mean)

            Rank         Year      Points
Team
Devils  2.500000  2014.500000  768.000000
Kings   1.666667  2015.666667  761.666667
Riders  1.750000  2015.500000  762.250000
Royals  2.500000  2014.500000  752.500000
kings   4.000000  2015.000000  812.000000

In [153]:
grouped["Points"].agg([np.sum, np.mean, np.std])

         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN

In [155]:
# transformation

score = lambda x : (x - x.mean()) / x.std()
grouped.transform(score)

        Rank      Year    Points
0  -1.500000 -1.161895  1.284327
1   0.500000 -0.387298  0.302029
2  -0.707107 -0.707107  0.707107
3   0.707107  0.707107 -0.707107
4   1.154701 -1.091089 -0.860862
5        NaN       NaN       NaN
6  -0.577350  0.218218 -0.236043
7  -0.577350  0.872872  1.096905
8   0.500000  0.387298 -0.770596
9   0.707107 -0.707107 -0.707107
10 -0.707107  0.707107  0.707107
11  0.500000  1.161895 -0.815759

In [156]:
df.groupby('Team').filter(lambda x : len(x) >=3) # 팀으로 묶었을때 3개 이상인?

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

In [158]:
df.groupby("Team").filter(lambda x: x["Points"].max() > 800)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
5    kings     4  2015     812
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [161]:
!wget https://www.shanelynn.ie/wp-content/uploads/2015/06/phone_data.csv

--2023-02-17 04:08:14--  https://www.shanelynn.ie/wp-content/uploads/2015/06/phone_data.csv
Resolving www.shanelynn.ie (www.shanelynn.ie)... 104.236.88.249
Connecting to www.shanelynn.ie (www.shanelynn.ie)|104.236.88.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40576 (40K) [application/octet-stream]
Saving to: ‘phone_data.csv’

phone_data.csv      100%[===================>]  39.62K  --.-KB/s    in 0.07s

2023-02-17 04:08:15 (599 KB/s) - ‘phone_data.csv’ saved [40576/40576]

In [162]:
df_phone = pd.read_csv("/content/phone_data.csv")
df_phone.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [163]:
import dateutil
df_phone['date'] = df_phone['date'].apply(dateutil.parser.parse, dayfirst=True)
df_phone.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [164]:
df_phone.groupby('month')['duration'].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [166]:
df_phone[df_phone['item'] == 'call'].groupby('month')['duration'].sum()

month
2014-11    25547.0
2014-12    13561.0
2015-01    17070.0
2015-02    14416.0
2015-03    21727.0
Name: duration, dtype: float64

In [167]:
df_phone.groupby(['month','item'])['duration'].sum()

month    item
2014-11  call    25547.000
         data      998.441
         sms        94.000
2014-12  call    13561.000
         data     1032.870
         sms        48.000
2015-01  call    17070.000
         data     1067.299
         sms        86.000
2015-02  call    14416.000
         data     1067.299
         sms        39.000
2015-03  call    21727.000
         data      998.441
         sms        25.000
Name: duration, dtype: float64

In [169]:
df_phone.groupby(['month', 'item'])['date'].count().unstack()

item     call  data  sms
month
2014-11   107    29   94
2014-12    79    30   48
2015-01    88    31   86
2015-02    67    31   39
2015-03    47    29   25

In [170]:
df_phone.groupby('month', as_index = False).agg({"duration" : "sum"})

     month   duration
0  2014-11  26639.441
1  2014-12  14641.870
2  2015-01  18223.299
3  2015-02  15522.299
4  2015-03  22750.441

In [171]:
df_phone.groupby(['month', 'item']).agg({'duration' : sum,
                                         'network_type' : 'count',
                                         'date': 'first'})

               duration  network_type                date
month   item
2014-11 call  25547.000           107 2014-10-15 06:58:00
        data    998.441            29 2014-10-15 06:58:00
        sms      94.000            94 2014-10-16 22:18:00
2014-12 call  13561.000            79 2014-11-14 17:24:00
        data   1032.870            30 2014-11-13 06:58:00
        sms      48.000            48 2014-11-14 17:28:00
2015-01 call  17070.000            88 2014-12-15 20:03:00
        data   1067.299            31 2014-12-13 06:58:00
        sms      86.000            86 2014-12-15 19:56:00
2015-02 call  14416.000            67 2015-01-15 10:36:00
        data   1067.299            31 2015-01-13 06:58:00
        sms      39.000            39 2015-01-15 12:23:00
2015-03 call  21727.000            47 2015-02-12 20:15:00
        data    998.441            29 2015-02-13 06:58:00
        sms      25.000            25 2015-02-19 18:46:00

In [172]:
df_phone.groupby(['month', 'item']).agg({'duration' :[min],
                                         'network_type' : "count",
                                         'date': [min, 'first','nunique']})

             duration network_type                date                      \
                  min        count                 min               first
month   item
2014-11 call    1.000          107 2014-10-15 06:58:00 2014-10-15 06:58:00
        data   34.429           29 2014-10-15 06:58:00 2014-10-15 06:58:00
        sms     1.000           94 2014-10-16 22:18:00 2014-10-16 22:18:00
2014-12 call    2.000           79 2014-11-14 17:24:00 2014-11-14 17:24:00
        data   34.429           30 2014-11-13 06:58:00 2014-11-13 06:58:00
        sms     1.000           48 2014-11-14 17:28:00 2014-11-14 17:28:00
2015-01 call    2.000           88 2014-12-15 20:03:00 2014-12-15 20:03:00
        data   34.429           31 2014-12-13 06:58:00 2014-12-13 06:58:00
        sms     1.000           86 2014-12-15 19:56:00 2014-12-15 19:56:00
2015-02 call    1.000           67 2015-01-15 10:36:00 2015-01-15 10:36:00
        data   34.429           31 2015-01-13 06:58:00 2015-01-13 06:58:00
        sms     1.000           39 2015-01-15 12:23:00 2015-01-15 12:23:00
2015-03 call    2.000           47 2015-02-12 20:15:00 2015-02-12 20:15:00
        data   34.429           29 2015-02-13 06:58:00 2015-02-13 06:58:00
        sms     1.000           25 2015-02-19 18:46:00 2015-02-19 18:46:00


             nunique
month   item
2014-11 call     104
        data      29
        sms       79
2014-12 call      76
        data      30
        sms       41
2015-01 call      84
        data      31
        sms       58
2015-02 call      67
        data      31
        sms       27
2015-03 call      47
        data      29
        sms       17

In [177]:
grouped = df_phone.groupby('month').agg({'duration' : [min, max, np.mean]})
grouped

        duration
             min      max        mean
month
2014-11      1.0   1940.0  115.823657
2014-12      1.0   2120.0   93.260318
2015-01      1.0   1859.0   88.894141
2015-02      1.0   1863.0  113.301453
2015-03      1.0  10528.0  225.251891

In [178]:
grouped.columns = grouped.columns.droplevel(level=0)
grouped

         min      max        mean
month
2014-11  1.0   1940.0  115.823657
2014-12  1.0   2120.0   93.260318
2015-01  1.0   1859.0   88.894141
2015-02  1.0   1863.0  113.301453
2015-03  1.0  10528.0  225.251891

In [179]:
grouped.rename(columns = {'min' : 'min_duration', 'max' : 'max_duration', 'mean' : 'mean_duration'})

         min_duration  max_duration  mean_duration
month
2014-11           1.0        1940.0     115.823657
2014-12           1.0        2120.0      93.260318
2015-01           1.0        1859.0      88.894141
2015-02           1.0        1863.0     113.301453
2015-03           1.0       10528.0     225.251891

In [180]:
grouped = df_phone.groupby('month').agg({'duration' : [min, max, np.mean]})
grouped

        duration
             min      max        mean
month
2014-11      1.0   1940.0  115.823657
2014-12      1.0   2120.0   93.260318
2015-01      1.0   1859.0   88.894141
2015-02      1.0   1863.0  113.301453
2015-03      1.0  10528.0  225.251891

In [181]:
grouped.columns = grouped.columns.droplevel(level = 0)
grouped

         min      max        mean
month
2014-11  1.0   1940.0  115.823657
2014-12  1.0   2120.0   93.260318
2015-01  1.0   1859.0   88.894141
2015-02  1.0   1863.0  113.301453
2015-03  1.0  10528.0  225.251891

In [182]:
grouped.add_prefix("duration_")

         duration_min  duration_max  duration_mean
month
2014-11           1.0        1940.0     115.823657
2014-12           1.0        2120.0      93.260318
2015-01           1.0        1859.0      88.894141
2015-02           1.0        1863.0     113.301453
2015-03           1.0       10528.0     225.251891

In [183]:
df_phone

     index                date  duration  item    month   network network_type
0        0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1        1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2        2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3        3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4        4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile
..     ...                 ...       ...   ...      ...       ...          ...
825    825 2015-03-13 00:38:00     1.000   sms  2015-03     world        world
826    826 2015-03-13 00:39:00     1.000   sms  2015-03  Vodafone       mobile
827    827 2015-03-13 06:58:00    34.429  data  2015-03      data         data
828    828 2015-03-14 00:13:00     1.000   sms  2015-03     world        world
829    829 2015-03-14 00:16:00     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [187]:
df_phone.pivot_table(["duration"],
                     index = [df_phone.month, df_phone.item],
                     columns = df_phone.network, aggfunc="sum", fill_value = 0)

             duration                                                   \
network        Meteor Tesco  Three Vodafone      data landline special
month   item
2014-11 call     1521  4045  12458     4316     0.000     2906       0
        data        0     0      0        0   998.441        0       0
        sms        10     3     25       55     0.000        0       1
2014-12 call     2010  1819   6316     1302     0.000     1424       0
        data        0     0      0        0  1032.870        0       0
        sms        12     1     13       18     0.000        0       0
2015-01 call     2207  2904   6445     3626     0.000     1603       0
        data        0     0      0        0  1067.299        0       0
        sms        10     3     33       40     0.000        0       0
2015-02 call     1188  4087   6279     1864     0.000      730       0
        data        0     0      0        0  1067.299        0       0
        sms         1     2     11       23     0.000        0       2
2015-03 call      274   973   4966     3513     0.000    11770       0
        data        0     0      0        0   998.441        0       0
        sms         0     4      5       13     0.000        0       0


network      voicemail world
month   item
2014-11 call       301     0
        data         0     0
        sms          0     0
2014-12 call       690     0
        data         0     0
        sms          0     4
2015-01 call       285     0
        data         0     0
        sms          0     0
2015-02 call       268     0
        data         0     0
        sms          0     0
2015-03 call       231     0
        data         0     0
        sms          0     3

In [190]:
df_movie = pd.read_csv('/content/movie_rating.csv')
df_movie.head()

          critic               title  rating
0  Jack Matthews   Lady in the Water     3.0
1  Jack Matthews   Snakes on a Plane     4.0
2  Jack Matthews   You Me and Dupree     3.5
3  Jack Matthews    Superman Returns     5.0
4  Jack Matthews  The Night Listener     3.0

In [191]:
df_movie.pivot_table(["rating"], index = df_movie.critic, columns = df_movie.title, aggfunc = "sum", fill_value = 0)

                    rating                                      \
title         Just My Luck Lady in the Water Snakes on a Plane
critic
Claudia Puig           3.0               0.0               3.5
Gene Seymour           1.5               3.0               3.5
Jack Matthews          0.0               3.0               4.0
Lisa Rose              3.0               2.5               3.5
Mick LaSalle           2.0               3.0               4.0
Toby                   0.0               0.0               4.5


title         Superman Returns The Night Listener You Me and Dupree
critic
Claudia Puig               4.0                4.5               2.5
Gene Seymour               5.0                3.0               3.5
Jack Matthews              5.0                3.0               3.5
Lisa Rose                  3.5                3.0               2.5
Mick LaSalle               3.0                3.0               2.0
Toby                       4.0                0.0               1.0

In [192]:
pd.crosstab(index = df_movie.critic, columns = df_movie.title, values = df_movie.rating, aggfunc = 'first').fillna(0)

title,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,You Me and Dupree
critic,,,,,,
Claudia Puig,3.0,0.0,3.5,4.0,4.5,2.5
Gene Seymour,1.5,3.0,3.5,5.0,3.0,3.5
Jack Matthews,0.0,3.0,4.0,5.0,3.0,3.5
Lisa Rose,3.0,2.5,3.5,3.5,3.0,2.5
Mick LaSalle,2.0,3.0,4.0,3.0,3.0,2.0
Toby,0.0,0.0,4.5,4.0,0.0,1.0

In [193]:
df_moive.groupby(['critic', 'title']).agg({'rating': 'first'}).unstack().fillna(0)

                    rating                                      \
title         Just My Luck Lady in the Water Snakes on a Plane
critic
Claudia Puig           3.0               0.0               3.5
Gene Seymour           1.5               3.0               3.5
Jack Matthews          0.0               3.0               4.0
Lisa Rose              3.0               2.5               3.5
Mick LaSalle           2.0               3.0               4.0
Toby                   0.0               0.0               4.5


title         Superman Returns The Night Listener You Me and Dupree
critic
Claudia Puig               4.0                4.5               2.5
Gene Seymour               5.0                3.0               3.5
Jack Matthews              5.0                3.0               3.5
Lisa Rose                  3.5                3.0               2.5
Mick LaSalle               3.0                3.0               2.0
Toby                       4.0                0.0               1.0

In [194]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_score': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'test_score'])
df_a

  subject_id  test_score
0          1          51
1          2          15
2          3          15
3          4          61
4          5          16
5          7          14
6          8          15
7          9           1
8         10          61
9         11          16

In [195]:
raw_data = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_b = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_b

  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [196]:
pd.merge(df_a, df_b, on='subject_id')

  subject_id  test_score first_name last_name
0          4          61      Billy    Bonder
1          5          16      Brian     Black
2          7          14      Bryce     Brice
3          8          15      Betty    Btisan

In [198]:
pd.merge(df_a, df_b, left_on = 'subject_id', right_on = 'subject_id')

  subject_id  test_score first_name last_name
0          4          61      Billy    Bonder
1          5          16      Brian     Black
2          7          14      Bryce     Brice
3          8          15      Betty    Btisan

In [199]:
pd.merge(df_a, df_b, on='subject_id', how = 'left')

  subject_id  test_score first_name last_name
0          1          51        NaN       NaN
1          2          15        NaN       NaN
2          3          15        NaN       NaN
3          4          61      Billy    Bonder
4          5          16      Brian     Black
5          7          14      Bryce     Brice
6          8          15      Betty    Btisan
7          9           1        NaN       NaN
8         10          61        NaN       NaN
9         11          16        NaN       NaN

In [200]:
pd.merge(df_a, df_b, on='subject_id', how='right')

  subject_id  test_score first_name last_name
0          4        61.0      Billy    Bonder
1          5        16.0      Brian     Black
2          6         NaN       Bran   Balwner
3          7        14.0      Bryce     Brice
4          8        15.0      Betty    Btisan

In [201]:
pd.merge(df_a, df_b, on = 'subject_id', how = 'outer')

   subject_id  test_score first_name last_name
0           1        51.0        NaN       NaN
1           2        15.0        NaN       NaN
2           3        15.0        NaN       NaN
3           4        61.0      Billy    Bonder
4           5        16.0      Brian     Black
5           7        14.0      Bryce     Brice
6           8        15.0      Betty    Btisan
7           9         1.0        NaN       NaN
8          10        61.0        NaN       NaN
9          11        16.0        NaN       NaN
10          6         NaN       Bran   Balwner

In [205]:
pd.merge(df_a, df_b, on='subject_id', how = 'inner')

  subject_id  test_score first_name last_name
0          4          61      Billy    Bonder
1          5          16      Brian     Black
2          7          14      Bryce     Brice
3          8          15      Betty    Btisan

In [206]:
pd.merge(df_a, df_b, right_index = True, left_index = True)

  subject_id_x  test_score subject_id_y first_name last_name
0            1          51            4      Billy    Bonder
1            2          15            5      Brian     Black
2            3          15            6       Bran   Balwner
3            4          61            7      Bryce     Brice
4            5          16            8      Betty    Btisan

## 확률론 맛보기